@charset "UTF-8";
/**********Additional style************************************ */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  height: 100%; }
  html body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
    text-align: center;
    height: 100%; }
    html body ul {
      list-style: none;
      text-align: left; }
    html body h2, html body h3 {
      color: #00a9ec;
      text-transform: uppercase;
      font-weight: 300;
      text-align: left; }
    html body p {
      font-weight: 300;
      line-height: 1.7;
      text-align: justify; }
      html body p:first-letter {
        font-weight: 500; }
    html body header {
      text-align: left;
      background: #498AB8;
      border-bottom: 3px;
      border-bottom-color: black; }
      html body header .adress {
        padding: 5px 20px;
        color: white;
        text-align: right;
        line-height: 1.3;
        font-family: "PT Sans", sans-serif; }
      html body header .logo {
        padding: 5px 20px;
        line-height: 1.3; }
        html body header .logo span {
          color: white; }
          html body header .logo span:nth-of-type(1) {
            position: relative;
            font-size: 3.7em;
            font-weight: 600;
            font-family: "PT Sans", sans-serif; }
            html body header .logo span:nth-of-type(1):after {
              position: absolute;
              top: 110px;
              left: 0;
              content: "";
              width: 190px;
              height: 5px;
              background: white; }
    html body section {
      position: relative;
      padding: 25px 0;
      min-height: 100%;
      overflow: hidden; }
      html body section:nth-of-type(2) {
        background: #f5f5f5; }
      html body section p {
        text-indent: 20px; }
      html body section .line {
        position: absolute;
        top: 0;
        left: 15%;
        height: 100%;
        width: 2px;
        background: #00a9ec;
        z-index: 10; }
        html body section .line:before {
          position: absolute;
          padding: 10px 0 10px 0;
          content: "IPC";
          top: 30px;
          left: -25px;
          width: 50px;
          height: 50px;
          border-radius: 70px;
          background: #00a9ec;
          color: white;
          font-size: 1.2em;
          box-shadow: 0px 0px 12px #535353; }
      html body section i {
        color: #498AB8; }
      html body section .number {
        background: yellow;
        font-size: 2em;
        padding: 0 35px;
        border-radius: 25px; }
      html body section img {
        position: absolute;
        top: -210px;
        right: -190px;
        border-radius: 100%;
        width: 100%;
        opacity: 0.9; }
    html body footer {
      height: 30%;
      background: #1b6d85; }

/* Smartphones (╨▓╨╡╤А╤В╨╕╨║╨░╨╗╤М╨╜╨░╤П ╨╕ ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╨░╤П ╨╛╤А╨╕╨╡╨╜╤В╨░╤Ж╨╕╤П) ----------- */
@media only screen and (max-width: 480px) {
  .line {
    display: none; }

  img {
    border-radius: 0 !important;
    top: 0 !important;
    right: 0 !important; } }

/*# sourceMappingURL=main.css.map */
